---
import { Image } from "astro:assets";
import GroupPhoto from "../../images/team-photos/group-photo.jpg"
import TempPhoto from "../../images/turbine-in-field.jpg"
import Johnathan from "../../images/team-photos/jonathan-haar.jpg"
import Linda from "../../images/team-photos/linda-haar.jpg"
import BoTau from "../../images/team-photos/bo-tau.jpg"
import Andrew from "../../images/team-photos/andrew-torrance.jpg"
import David from "../../images/team-photos/david-porter.jpg"
---

<div class="container">
    <div class="content content-background">
        <h1>Eastern Wind Power's Team</h1>
        <Image class="group-image" src={GroupPhoto} alt=""/>
        <div class="team-member">
            <h2>Board Of Directors</h2>
            <Image class="member-image" src={Johnathan} alt=""/>
            <h3>Jonathan Haar, President / CEO</h3>

            <p>Jonathan Haar is President and CEO of Eastern Wind Power, Inc. He also is the founder/owner and President of The Harbor Planning Group, Inc., a 16 year old construction supervision and permitting company, based in Cambridge, MA, USA. The firm specializes in permitting and implementation of complex urban revitalization projects, with an expertise in project administration of technically difficult construction projects. Jonathan Haar has over twenty years of experience driving complex construction projects to meet budgets, while managing teams of up to 250 people.</p>

            <p>Among other Boston projects, Haar developed Two Atlantic Avenue (100,000 SF), the first office building and privately funded public park on Boston Harbor since 1987, and permitted 33 Arch Street (1 million SF), the first office tower on-line in Downtown Boston since the 1990 economic downturn.</p>
            
            <p>Haar is a documentary filmmaker, an accomplished nature photographer, and mountaineer, ice climber and wilderness leader. Haar received his Bachelor of Arts degree in Visual and Environmental Studies at Harvard College with honors and was awarded summa cum laude on his thesis in ethnographic film-making, and a Master of Business Administration from Wharton at the University of Pennsylvania, and has been a teaching assistant at both institutions.</p>
                
            <p>His interest in ecology and conservation stems from his explorations as a youth tracking turtles in Hell’s Half Acre wetland now a highway in Cambridge, to conducting scientific field research in biology, to filming Jupiter’s moons for Dr. David Latham.</p>
        </div>

        <div class="team-member">
            <Image class="member-image" src={Linda} alt=""/>
            <h3>Linda Mongelli Haar, Vice President / Chairman</h3>

            <p>Linda Mongelli Haar is Vice President of Eastern Wind Power, Inc. and Chairman of the Board. She has over 30 years of planning, design and development experience, and was Director of Planning and Development for the City of Boston at the Boston Redevelopment Authority for fifteen years, where she oversaw all aspects of land use planning, urban design, and zoning during a period of unprecedented economic growth and recovery in Boston. Among her planning accomplishments are the development of the Harborpark Plan bringing public access and economic development to the Boston Harbor waterfront; rewriting the Zoning Code and establishing land use plans Boston’s neighborhoods; creating Boston’s Empowerment which was awarded $141 million in federal grants.</p>

            <p>In 2003 she established and is President of the Boston Planning Institute, Inc. focused on environmental protection and sustainable development projects. She and Jonathan Haar frequently collaborate on major projects. Most recently they organized the scientific and technical teams and created the design and programming for the Darwin Project: Boston’s Botanical Garden and Environmental Learning Center www.darwinboston.org designed for Boston’s Rose Kennedy Greenway.</p>
            
            <p>She received her Bachelor of Arts degree in Geography from Boston University, Master of Public Health from Harvard University School of Public Health, and was a Loeb Fellow in Advanced Environmental Studies at the Harvard University Graduate School of Design. Linda was a founding Board member of the Boston Harbor Islands National Park Partnership and Chair of its Planning Committee. She is an environmental activist, nature photographer, and mountaineer.</p>
        </div>

        <div class="team-member">
            <Image class="member-image" src={BoTau} alt=""/>
            <h3>Dr. Bo Tao, Ph.D., Lead Scientist, Board of Directors</h3>

            <p>Dr. Bo Tao is Eastern Wind Power’s Lead Scientist. He has a B.S. and M.S. in Aerospace Engineering from Beijing University of Aeronautics & Astronautics.  He also has a Ph.D. and M.S. in Mechanical Engineering from Johns Hopkins University. He was Assistant Professor of Hydraulic Engineering for five years at Purdue University in West Lafayette, Indiana, and is currently Associate Professor of Mechanical Engineering at Wentworth Institute of Technology in Boston, MA. Dr. Tao has over 15 years of experience in teaching, research and consulting in these specialty areas: aerodynamics, oceanic hydromechanics, and thermal-fluid sciences.</p>
        </div>

        <div class="team-member">
            <Image class="member-image" src={Andrew} alt=""/>
            <h3>Dr. Andrew Torrance, Esq., Ph.D., Board of Directors</h3>

            <p>Dr. Torrance is a Professor of Law at University of Kansas, specializing in environmental law and intellectual property. He taught Biodiversity: Science, Policy and Law in the Biology Department at Harvard University form 1999 to 2005, and taught Conservation Biology as a member of the faculty in Environmental Science and Public Policy. In 2003 Harvard University invited him to serve as the Hardy Fellow in Conservation Biology. Andrew received his B.Sc. from Queen’s University, and both his J.D. and Ph.D. from Harvard university.</p>
        </div>

        <div class="team-member">
            <Image class="member-image" src={David} alt=""/>
            <h3>David L. Porter, P.E., EWP Board of Directors</h3>

            <p>David Porter is the President of Childs Engineering. His professional career has concentrated in waterfront engineering.  He is well-versed in all facets of inspection, design and construction.  As principal in charge of field operations, he has participated in and directed above- and below-water engineering projects throughout North America, Europe, Africa, and the Pacific.</p>
                
            <p>As a vital part of all waterfront projects, Mr. Porter is knowledgeable about the physical limitations imposed on waterfront structures caused by wind, wave, wake and ice forces and draft and area requirements.</p>
        </div>
        <h2 class="new-group">Science Advisory Board</h2>
        <div class="team-member">
            <Image class="member-image" src={TempPhoto} alt=""/>
            <h3>Frank H. Durgin, Senior Science Advisor</h3>

            <p>Frank Durgin is an Aeronautics & Astronautics Engineer who serves as EWP’s senior advisor on aeronautics engineering and turbine design. He was a scientist with the Massachusetts Institute of Technology Department of Aeronautics & Astronautics for 43 years, and was Director of the Wright Brothers Wind Tunnel at MIT for 22 years.</p>
        </div>

        <div class="team-member">
            <Image class="member-image" src={TempPhoto} alt=""/>
            <h3>Peter J. Cheever, Structural Engineer, LeMessurier Engineering</h3>

            <p>Peter Cheever is former President and Principal Structural Engineer for LeMessurier Engineering. He received his Bachelor of Science in Civil Engineering from Tufts University, and Master of Science in Civil Engineering from Northeastern University. He has engineered the structural design for hundreds of major complex buildings nationally and world-wide, and is renown for his work.</p>
        </div>

        <div class="team-member">
            <Image class="member-image" src={TempPhoto} alt=""/>
            <h3>Mark X. Haley, EWP Structural Consultant</h3>

            <p>Mark Haley is a Geotechnical Engineer and Principal of Haley & Aldrich Engineering in Boston, MA. He received his B.S. in Civil Engineering at Northeastern University and M.S. in Civil Engineering at Massachusetts Institute of Technology.</p>
        </div>
        <h2 class="new-group">Team</h2>

        <div class="team-member">
            <Image class="member-image" src={TempPhoto} alt=""/>
            <h3>Reeshi Pradhan, M.E. Chief Engineer</h3>

            <p>Reeshi Pradhan is the Chief Engineer for EWP, and holds a M.S. in Mechanical Engineering from Northeastern University. He received his B.S. in Mechanical Engineering at Institute of Engineering, Lalitpur, Nepal. He is an instructor in AutoCAD and expert in 3D simulation. He conducted all of the computer design and simulation for EWP’s first vertical axis wind turbine.</p>
        </div>

        <div class="team-member">
            <Image class="member-image" src={TempPhoto} alt=""/>
            <h3>Yifei Zhang</h3>

            <p>Yifei Zhang is a Master degree candidate in Mechanical Engineer at Northeastern University. He is assisting EWP web management, wind data monitoring, and production drawing.</p>
        </div>

        <div class="team-member">
            <Image class="member-image" src={TempPhoto} alt=""/>
            <h3>Bruce Stahnke, AIA, LEED</h3>

            <p>Bruce Stahnke is a principal of Stahnke & Kitagawa Architects, Harborside, ME. Bruce is a LEED certified architect and practices primarily in Boston and New England. Bruce has designed and constructed numerous high-rise buildings, and bring extensive design, green energy technology, and practical experience to EWP.</p>
        </div>

        <div class="team-member">
            <Image class="member-image" src={TempPhoto} alt=""/>
            <h3>Iok Min Wong</h3>

            <p>Iok Min Wong is a graduate of the Rhode Island School of Design in Architecture  and a graduate of  Massachusetts College of Art and Design. He has expertise in web and graphic design and industrial design and Architecture. He is currently employed by NASA and continues to help us on technical issues.</p>
        </div>

        <div class="team-member">
            <Image class="member-image" src={TempPhoto} alt=""/>
            <h3>Hussain Nalwala</h3>

            <p class="lastp">Hussain is a candidate for an M.S. in Mechanical Engineering from Northeastern University. He has expertise in Solidworks/Autocad, mechanical design, and FEA testing, being reactive load testing of EWP’s componant parts. He studied at Vishwakarma Institute of information Technology and comes to us from Pune, India. He has been responsible for breathing life into the Surgical Center in a Box project while working for The Darwin Project.</p>
        </div>
    </div>
</div>

<style>
    .content {
        margin-top: 35px;
        padding: 35px 15px 0;

        .lastp {
            padding-bottom: 30px;
            margin-bottom: 35px;
        }

        h2 {
            font-size: 32px;
        }

        @media (width >= 768px) {
            padding: 35px 50px 0;
        }
    }

    .group-image {
        max-width: 800px;
        width: 100%;
        height: auto;
        margin-bottom: 35px;
    }

    .member-image {
        max-width: 250px;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .team-member {
        margin-bottom: 60px;
    }

    .new-group {
        margin-top: 90px;
    }
</style>