---
import { Image } from "astro:assets";
import Layout from '../layouts/Layout.astro';
import 'swiper/css/bundle';
import slide1 from "../images/slide-1-wind-turbine-summer-sky.jpg";
import slide2 from "../images/slide-2-wind-turbine.jpg";
import slide3 from "../images/slide-3-wind-turbine-blue-sky-view.jpg";
import slide4 from "../images/slide-4-wind-turbine-blade-view.jpg";
import slide5 from "../images/slide-5-wind-turbine-full-view.jpg";
import slide6 from "../images/slide-6-wind-turbine-fin-view.jpg";
---

<Layout title="Eastern Wind Power" description="Photos and Videos of wind turbines from Eastern Wind Power">
	<main>
		<div class="container">
			<div class="content content-background">
				<div class="swiper">
					<div class="swiper-wrapper">
						<!-- <div class="swiper-slide"><Image src={slide1} alt="Wind Turbine" width={800} /></div>
						<div class="swiper-slide"><Image src={slide2} alt="Wind Turbine" width={800} /></div>
						<div class="swiper-slide"><Image src={slide3} alt="Wind Turbine" width={800} /></div>
						<div class="swiper-slide"><Image src={slide4} alt="Wind Turbine" width={800} /></div>
						<div class="swiper-slide"><Image src={slide5} alt="Wind Turbine" width={800} /></div>
						<div class="swiper-slide"><Image src={slide6} alt="Wind Turbine" width={800} /></div> -->
					</div>

					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>

				<script>
					import Swiper from 'swiper/bundle';
					const swiper = new Swiper('.swiper', {
						loop: true,
						navigation: {
							nextEl: '.swiper-button-next',
							prevEl: '.swiper-button-prev',
						},
					});
				</script>
			</div>
		</div>
	</main>
</Layout>