---
import { Image } from "astro:assets";
import Siemens from "../../images/partner-logos/siemens-logo.png"
import Martha from "../../images/partner-logos/marthas-vineyard-airport-logo.png"
import C3 from "../../images/partner-logos/c3-logo.png"
import Child from "../../images/partner-logos/childs-logo.png"
---

<div class="container">
    <div class="content content-background">
        <h1>Eastern Wind Power's Partners</h1>
        <div class="partner-container">
            <Image class="partner-logo" src={Siemens} alt="Siemens Industry Logo"/>
            <h2>Siemens Industry Inc.</h2>
            <div class="people">
                <p>Harald Huegel, Project Manager</p>
                <p>Frank Kuhn, System Engineer</p>
                <p>Razvan Panaitescu, Business Development Manager</p>
            </div>
            <p>In 2010, Eastern Wind Power partnered with Siemens Industry, Inc. for development of our generator and inverter electronic system. The inverter/generator system designed and built by Siemens Industry is their prototype to enter into the small wind market, and comes with their service and quality assurance.</p>
        </div>

        <div class="partner-container">
            <Image class="partner-logo" src={Martha} alt="Martha's Vineyard Airport Logo"/>
            <h2>Martha's Vineyard Airport</h2>
            <div class="people">
                <p>Sean Flynn, Manager</p>
            </div>
            <p>The Martha’s Vineyard Airport in Edgartown, Massachusetts, as a proponent of green energy technology, has generously provided EWP with the space and staff support to site and test our Sky Farm 50 kW turbine prototype.</p>
        </div>

        <div class="partner-container">
            <Image class="partner-logo" src={C3} alt="Clear Carbon & Components Logo"/>
            <h2>Clear Carbon & Components, Inc.</h2>
            <div class="people">
                <p>Matt Dunham, President</p>
            </div>
            <p>Clear Carbon Components in Bristol, RI, expertly manufactures EWP’s carbon fiber blades.</p>
        </div>

        <div class="partner-container">
            <Image class="partner-logo" src={Child} alt="Clear Carbon & Components Logo"/>
            <h2>Clear Carbon & Components, Inc.</h2>
            <div class="people">
                <p>David L. Porter, President</p>
            </div>
            <p>Childs Engineering, Medfield, MA,  provides structural expertise on the turbine as well as expertise on steel components and on logistics.</p>
        </div>

        <div class="partner-container">
            <Image class="partner-logo" src={Child} alt="Clear Carbon & Components Logo"/>
            <h2>LeMessurier Consulting Engineers</h2>
            <div class="people">
                <p>Peter Cheever, President & Principal Structural Engineer</p>
            </div>
            <p>LeMessurier, Cambridge, MA, provides expertise on the base structure and roof and base interface.</p>
        </div>

        <div class="partner-container">
            <Image class="partner-logo" src={Child} alt="Clear Carbon & Components Logo"/>
            <h2>Haley & Aldrich Engineering</h2>
            <div class="people">
                <p>Mark X. Haley, Principal</p>
            </div>
            <p>Haley and Aldrich, Cambridge, MA, provides structural and vibration engineering expertise on buildings for roof-top siting.</p>
        </div>

        <div class="partner-container">
            <Image class="partner-logo" src={Child} alt="Clear Carbon & Components Logo"/>
            <h2>Mt. Washington State Park, NH</h2>
            <div class="people">
                <p>Mike Pelchat, Manager</p>
            </div>
            <p>Mt. Washington State Park, New Hampshire, as a proponent of green energy, has permitted EWP to mount a turbine blade on the roof of the Sherman Adams Summit Building to test the blade, coated with a 3M proprietary tapes, for winter ice build-up.</p>
        </div>

        <div class="partner-container">
            <Image class="partner-logo" src={Child} alt="Clear Carbon & Components Logo"/>
            <h2>3M</h2>
            <div class="people">
                <p>James Sadlo</p>
            </div>
            <p>3M has provided three new proprietary tapes for ice build-up testing on Mt. Washington, NH.</p>
        </div>

        <div class="partner-container">
            <Image class="partner-logo" src={Child} alt="Clear Carbon & Components Logo"/>
            <h2>NSK Bearings</h2>
            <p>NSK bearings are EWP’s choice of bearings for quality and durability</p>
        </div>

        <div class="partner-container">
            <Image class="partner-logo" src={Child} alt="Clear Carbon & Components Logo"/>
            <h2>Turner Construction Company</h2>
            <div class="people">
                <p>Peter G. Hamill, Vice President</p>
            </div>
            <p>Turner Construction, Boston, MA, provides expertise on installation.</p>
        </div>

        <div class="partner-container">
            <Image class="partner-logo" src={Child} alt="Clear Carbon & Components Logo"/>
            <h2>SDK Structures Composite Engineers</h2>
            <div class="people">
                <p>Steve Koopman, President</p>
            </div>
            <p>SDK Structures, Tiverton, RI, provides expertise in industrial design and materials manufacturing.</p>
        </div>

        <div class="partner-container">
            <Image class="partner-logo" src={Child} alt="Clear Carbon & Components Logo"/>
            <h2>Hovey Williams, LLP Patent Law</h2>
            <div class="people">
                <p>Crissa Seymour Cook, Esq.</p>
            </div>
            <p>Hovey Williams, Overland Park, Kansas,  represents EWP on all  patent legal work.</p>
        </div>

        <div class="partner-container">
            <Image class="partner-logo" src={Child} alt="Clear Carbon & Components Logo"/>
            <h2>Morris On Berkshire</h2>
            <p>Steel fabricator for the turbine's metal framework and central shaft and potential tower builder for future work</p>
        </div>

        <div class="partner-container">
            <Image class="partner-logo" src={Child} alt="Clear Carbon & Components Logo"/>
            <h2>United Automation, Inc.</h2>
            <div class="people">
                <p>Scott Lavine, President</p>
            </div>
            <p>United Automation, Portsmouth, NH, is EWP’s electronic engineering consultant providing full service installation and service.</p>
        </div>

        <div class="partner-container">
            <Image class="partner-logo" src={Child} alt="Clear Carbon & Components Logo"/>
            <h2>H & H Propeller</h2>
            <div class="people">
                <p>Robert Pelletier, President</p>
            </div>
            <p>H & H Propeller, Salem, NH, have built the Sky Farm steel shaft and major steel components.</p>
        </div>

        <div class="partner-container">
            <h2>CRDEX Industrial Manufacturing</h2>
            <div class="people">
                <p>Manuel Pilar, Partner</p>
            </div>
            <p>CRDEX provides expertise in industrial materials.</p>
        </div>

        <div class="partner-container">
            <h2>Vanderhoef Design, Inc</h2>
            <div class="people">
                <p>John Vanderhoef, President</p>
            </div>
            <p>Vanderhoef Design provides expertise in industrial materials and manufacturing.</p>
        </div>

        <div class="partner-container">
            <h2>Stahnke & Kitagawa Architects, Harborside, ME</h2>
            <div class="people">
                <p>Bruce Stahnke, Principal</p>
            </div>
            <p class="lastp">Stahnke Kitagawa provides design and architectural expertise.</p>
        </div>
    </div>
</div>

<style>
    .content {
        margin-top: 35px;
        padding: 35px 15px 0;

        .lastp {
            margin-bottom: 35px;
        }

        h1 {
            margin-bottom: 50px;
        }

        h2 {
            font-size: 32px;
            margin-bottom: 0;
        }

        @media (width >= 768px) {
            padding: 35px 50px 0;
        }

        .partner-container {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            text-align: center;
            margin-bottom: 50px;

            @media (width >= 768px) {
                align-items: start;
                text-align: left;
            }

            .partner-logo {
                max-width: 300px;
                width: 100%;
                height: auto;
            }

            .people {
                p {
                    margin: 0 0 5px;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 22px;

                    @media (width >= 768px) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
</style>